/*html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}*/

/* viewport */
.pc-playerViewport {
    border: 0;
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    cursor: default;
}

.pc-playerViewport button {
    border: 0;
    border-radius: 0;
    display: inline-block;
    margin: 0;
    background: none;
}

/* inner player screens */
.pc-playerStartScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.pc-playerStartScreen img {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/*.pc-playerStartScreen .disabled {
    background-color: #A5A5A5;
    opacity: 0.3;
    filter: alpha(opacity=30);
}*/

.pc-playerStartScreen .pc-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.pc-playerStartScreen .pc-title div {
    padding: 0.37em;
}

.pc-playerStartScreen .pc-loadingIndicatorLayout {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.pc-playerStartScreen .pc-loadingIndicatorLayout .pc-loadingIndicator {
    display: table;
    margin: 0 auto;
    width: 19em;
}

.pc-playerStartScreen .pc-liContainer {
    margin-top: 0.5em;
}


.pc-playerStartScreen .pc-liBar, .pc-playerStartScreen .pc-li {
    top: 0;
}

[dir='rtl'] .pc-playerStartScreen .pc-liBar, .pc-playerStartScreen .pc-li {
    right: 0;
}

.pc-playerStartScreen .pc-liProgressStyle div {
    display: table-cell;
    width: 2.5em;
}

.pc-playerStartScreen button, .pc-playerStartScreen button:active {
    background: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.pc-playerStartScreen button svg {
    height: 44%;
    left: 28%;
    top: 28%;
    width: 44%;
    margin: 0;
    padding: 0;
    position: absolute;
}

[dir='rtl'] .pc-playerStartScreen button svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pc-playerStartScreen button:active {
    margin: 0;
    padding: 0;
}

.pc-playerStartScreen button:disabled {
    cursor: default;
}


/* page */
.pc-page {
    height: 100%;
    position: absolute;
}

.pc-page, .pc-pageHeader, .pc-pageBodyLayout, .pc-pageBody, .pc-pageFooter {
    width: 100%;
}

.pc-pageHeader {
    height: 4.8em;
    border-bottom: solid 1px;
    /*display: table;
	*/
    border-spacing: 0;
}
/*
.pc-pageHeader .pc-caption {
    //TODO: the caption div max-width has to be set using script to enable the text overflow settings/
    font-size: 3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
*/
.pc-pageHeader .pc-menuButton {
    width: 4.8em;
    min-width: 4.8em;
}

.pc-pageBodyLayout, .pc-pageBody {
    position: relative;
    height: 100%;
}

.pc-pageFooter {
    height: 4.8em;
    position: absolute;
    bottom: 0;
    /*display: table;*/
}

/* onscreen keyboard */
.pc-cursorButton, .pc-cursorButton:active {
    margin: 0;
    width: 60px;
    height: 60px;
    border: solid 2px;
    border-radius: 10%;
}

.pc-cursorButton svg {
    position: absolute;
    width: 60%;
    height: 60%;
    padding: 20%;
    margin: 0;
    top: 0;
    left: 0;
}

.pc-cursorTable {
    display: table;
    border-collapse: separate;
    border-spacing: 4px;
}

.pc-cursorTableRow {
    display: table-row;
}

.pc-cursorTableCell {
    display: table-cell;
}

/* overlay */
.pc-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* player toolbar */
.pc-playerMenuH, .pc-playerMenuV {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.pc-playerMenuOverlay, .pc-playerMenuPlayOverlay {
    position: absolute;
    overflow: hidden;
}
/* @todo: check
.pc-playerMenuOverlay, .pc-playerMenuPlayOverlay div {
    background-color: #00475E;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}
*/

.pc-playerMenuPlayOverlay div {
    height: 9.6em;
    width: 9.6em;
    border-radius: 4.8em;
}

[dir='rtl'] .pc-playerMenuPlayOverlay div {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pc-playerMenuH .pc-playerMenuOverlay {
    height: 9.4em;
    width: 100%;
    bottom: 0;
}

.pc-playerMenuH .pc-playerMenuPlayOverlay {
    height: 3em;
    width: 9.2em;
    bottom: 9.39em;
    left: 50%;
    margin-left: -4.6em;
}

.pc-playerMenuH .pc-playerMenuPlayOverlay div {
    position: absolute;
    left: -0.3em;
}

.pc-playerMenuH .pc-alignedCell {
    margin-left: -0.3em;
}

.pc-playerMenuV .pc-playerMenuOverlay {
    height: 100%;
    width: 9.4em;
    left: 0;
}

[dir='rtl'] .pc-playerMenuV .pc-playerMenuOverlay {
    left: auto;
    right: 0;
}

.pc-playerMenuV .pc-playerMenuPlayOverlay {
    height: 9.2em;
    width: 3em;
    left: 9.36em;
    top: 50%;
    margin-top: -4.6em;
}

[dir='rtl'] .pc-playerMenuV .pc-playerMenuPlayOverlay {
    left: auto;
    right: 9.37em;
}

.pc-playerMenuV .pc-playerMenuPlayOverlay div {
    position: absolute;
    top: -0.3em;
    right: 1.8em;
}

[dir='rtl'] .pc-playerMenuV .pc-playerMenuPlayOverlay div {
    right: auto;
    left: 1.8em;
}

.pc-playerMenuV .pc-iOsClosed {
    left: 0;
}

[dir='rtl'] .pc-playerMenuV .pc-iOsClosed {
    left: auto;
    right: 0;
}

.pc-playerMenuV .pc-iOsClosed div {
    right: 0;
}

[dir='rtl'] .pc-playerMenuV .pc-iOsClosed div {
    right: auto;
    left: 0;
}

/* menu toolbar & buttons */
.pc-playerMenuContainer {
    display: table;
    position: absolute;
    overflow: hidden;
}


.pc-playerMenuV .pc-playerMenuContainer {
    top: 0px;
    left: 1.15em;
    width: 9.3em;
    height: 100%;
}

[dir='rtl'] .pc-playerMenuV .pc-playerMenuContainer {
    left: auto;
    right: 1.15em;
}

.pc-playerMenuV .pc-playerMenuOutside {
    left: -7.3em;
    width: 6.8em;
}

[dir='rtl'] .pc-playerMenuV .pc-playerMenuOutside {
    right: -7.1em;
}

.pc-playerMenuV .pc-alignedCell {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 1.6em;
}

.pc-playerMenuH .pc-playerMenuContainer {
    height: 11.7em;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* svg buttons */
.pc-playerButton, .pc-playerButton:active, .pc-menuBigButton, .pc-menuBigButton:active {
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    width: 6.7em;
    height: 8.5em;
    vertical-align: bottom;
}

[dir='rtl'] .pc-rtl svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pc-playerButton:focus {
    outline: none;
}

.pc-playerButton::-moz-focus-inner {
    border: 0;
}

.pc-playerMenuV .pc-menuBigButton {
    margin-left: -1.1em;
    margin-top: 0.7em;
}

[dir='rtl'] .pc-playerMenuV .pc-menuBigButton {
    margin-right: -1.1em;
}

.pc-menuBigButton, .pc-menuBigButton:active {
    width: 9.1em;
    height: 10.8em;
}

.pc-playerMenuOutside .pc-menuBigButton, .pc-playerMenuOutside .pc-menuBigButton:active {
    width: 6.7em;
    margin-left: 0em;
    height: 10.8em;
}

[dir='rtl'] .pc-playerMenuOutside .pc-menuBigButton, .pc-playerMenuOutside .pc-menuBigButton:active {
    margin-left: auto;
    margin-right: 0em;
}

.pc-playerButton svg {
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    padding: 0;
    margin: 0;
    margin-left: 1.75em;
    left: 0;
    bottom: 3.4em;
    direction: ltr;
}

.pc-menuBigButton svg {
    width: 6.4em;
    height: 6.4em;
    margin-left: 1.4em;
}

.pc-playerMenuOutside .pc-menuBigButton svg {
    margin-left: 0.15em;
}

.pc-playerButton span {
    position: absolute;
    text-align: center;
    bottom: 0.6em;
    left: 0;
    right: 0;
}
/*@todo: to check
.pc-playerButton:hover {
    color: #FFF;
    fill: #FFFFFF;
    border-color: #FFF;
}*/

.pc-playerButton:active {
    padding: 0;
}

.pc-playerButton:disabled {
    cursor: default;
}

/* player viewport view*/
.pc-playerViewportView {
    border: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* canvas */
.pc-canvasContainer {
    position: relative;
}

.pc-canvasContainer canvas {
    position: absolute;
    top: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

/* dialog */
.pc-dialogOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pc-dialog {
    max-width: 310px;
    border-radius: 2px;
    border-top: 1px solid;
    position: relative;
    overflow: hidden;
}

.pc-dialogCol {
    display: table-cell;
    min-width: 15px;
    width: 50%;
}

.pc-dialog > div {
    position: relative;
    width: 100%;
}

.pc-dialogHeader, .pc-askDialogHeader {
    overflow: hidden;
    border-bottom: solid 2px;
    padding: 19px 15px;
}

.pc-askDialogHeader {
    padding: 15px;
}


.pc-dialogBody, .pc-askDialogBody {
    text-align: center;
    overflow: hidden;
    padding: 0px 15px;
}

.pc-askDialogBody {
    text-align: left;
    padding: 17px 4px;
}

[dir='rtl'] .pc-askDialogBody {
    text-align: right;
}

.pc-askDialogBody div {
    padding: 0px 11px;
}


.pc-askDialogBody input {
    outline-width: 0px;
    width: 100%;
    border: solid 2px;
    height: 35px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.pc-askDialogBody input:focus {
    border-radius: 2px;
}
/*
.pc-askDialogBody input {
    outline-width: 0px;
    width: 100%;
    border: solid 2px #282828;
    background-color: white;
    height: 35px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.pc-askDialogBody input:focus {
    border: solid 2px #FB9B27;
    border-radius: 2px;
}*/

.pc-dialogBody .pc-dialogContent {
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: default;
    overflow: hidden;
}

.pc-dialogBody .pc-dialogContent ul {
    list-style-type: square;
    padding-left: 18px;
    padding-right: 0px;
    margin-top: 4px;
    margin-bottom: 8px;
}

[dir='rtl'] .pc-dialogBody .pc-dialogContent ul {
    padding-left: 0px;
    padding-right: 18px;
}

.pc-dialogBody .pc-dialogContent ul li {
    list-style-position: outside;
}

.pc-dialogFooter {
    border: solid 1px;
    border-top: solid 1px;
    height: 47px;
    float: none;
}

.pc-dialogFooter button {
    height: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.pc-dialogFooter button:hover {
    text-decoration: underline;
}

.pc-dialogFooter button:focus {
    outline: none;
}

.pc-dialogFooter button:disabled {
    cursor: default;
}

.pc-dialogFooter button::-moz-focus-inner {
    border: 0;
}

/* scroll container: iScroll */
.iScrollVerticalScrollbar {
    background-image: url('../img/scrollbarBackground.gif');
    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 3px;
    overflow: hidden;
}

.iScrollIndicator {
    width: 7px;
    position: absolute;
    border-radius: 1px;
}

/* menu */
.pc-menu {
    position: relative;
    z-index: 200;
}

.pc-menuOpened {
    z-index: 500;
}

.pc-menuButton {
    border-style: solid;
    border-width: 1px 1px 0;
    border-radius: 2px 2px 0 0;
    margin: 3px;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
}

.pc-menu .pc-menuButton span {
    visibility: hidden;
}

/* mobile menu */
.pc-menuMobile {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.pc-menuMobile .pc-menuButton {
    border-radius: 2px;
}

.pc-menuOpened .pc-menuButton {
    border-color: #484848;
    background-color: #282828;
}

/*.pc-menuMobile .pc-menuButtonOpened {
    border-width: 1px 1px 0;
    border-radius: 2px 2px 0 0;
}*/

.pc-menuMobile .pc-menuOpened .pc-menuButton {
    border-width: 1px 1px 0;
    border-radius: 2px 2px 0 0;
}

[dir='rtl'] .pc-menuMobile {
    margin-right: 4px;
    right: auto;
    left: 15px;
}

.pc-subMenu {
    position: absolute;
    min-width: 150px;
    overflow: hidden;
    z-index: 1;
    top: 45px;
    right: 3px;
    padding: 1px 0px;
    float: right;
    border: 1px solid;
    border-radius: 2px 0px 2px 2px;
}

[dir='rtl'] .pc-subMenu {
    margin-right: 4px;
    right: auto;
    left: 3px;
}

/* menu item, separator*/
.pc-menuItem, .pc-checkbox, .pc-radio {
    position: relative;
    white-space: nowrap;
    padding: 10px 16px 10px 11px;
    margin: 0px;
    width: 100%;
    height: 33px;
    background: none;
    border: 0;
    display: block;
}

.pc-menuSymbol {
    margin-right: 0 !important;
}

.pc-menuSymbol span {
    display: none;
}

.pc-menuItem:hover, .pc-checkbox label:hover, .pc-radio label:hover {
    cursor: pointer;
}

.pc-menuItem:active {
    position: relative;
    white-space: nowrap;
    padding: 10px 14px 10px 11px;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.pc-menuSeparator hr {
    border: 0;
    margin: 1px 12px 1px 2px;
    height: 1px;
}

/* checkbox, radio button */
.pc-checkbox input, .pc-radio input, .pc-expanderHeader input {
    display: none;
}

.pc-checkbox label, .pc-radio label, .pc-expander label {
    line-height: 15px;
    display: block;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

.pc-checkbox label, .pc-radio label {
    padding-left: 25px;
    padding-right: 28px;
}

[dir='rtl'] .pc-checkbox label, [dir='rtl'] .pc-radio label {
    padding-left: 25px;
    padding-right: 28px;
}

.pc-menuMobile .pc-checkbox label, .pc-menuMobile .pc-radio label {
    padding-left: 25px;
    padding-right: 5px;
}

[dir='rtl'] .pc-menuMobile .pc-checkbox label, [dir='rtl'] .pc-menuMobile .pc-radio label {
    padding-left: 5px;
    padding-right: 28px;
}

.pc-checkbox label:before, .pc-radio label:before {
    content: '';
    position: absolute;
    left: 0px;
    width: 19px;
    height: 19px;
    border: 2px solid;
    top: -2px;
}

[dir='rtl'] .pc-checkbox label:before, [dir='rtl'] .pc-radio label:before {
    left: auto;
    right: 0px;
}

.pc-radio label:before {
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

/* checked mark aspect */
.pc-checkbox label:after {
    position: absolute;
    content: '✔';
    top: -2px;
    left: 3px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    transition: all .1s;
}

[dir='rtl'] .pc-checkbox label:after {
    left: auto;
    right: -3px;
}

.pc-radio label:after {
    position: absolute;
    content: '';
    border: 0px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    left: 5px;
    top: 3px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    transition: all .1s;
}

[dir='rtl'] .pc-radio label:after {
    left: auto;
    right: 5px;
}

/* checked mark aspect changes */
.pc-checkbox [type="checkbox"]:not(:checked) + label:after,
.pc-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.pc-checkbox [type="checkbox"]:checked + label:after,
.pc-radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*NEW CSS*/

/*Slider Control*/
.pc-slider {
    display: table;
    width: 100%;
    height: 24px;
}

    .pc-slider .pc-label {
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
        padding-left: 4px;
        padding-right: 4px;
    }

    .pc-slider .pc-label, .pc-slider .pc-sliderControl {
        display: table-cell;
        height: 100%;
        border: 0px;
    }

    .pc-slider .pc-sliderControl {
        position: relative;
        width: 100%;
    }

    .pc-slider .pc-track {
        width: 100%;
        height: 5px;
        display: inline-block;
        background-color: #17A5B8;
        border-radius: 1px;
        cursor: pointer;
    }

        .pc-slider .pc-track div {
            height: 3px;
            margin: 1px;
            border-radius: 1px;
            background-color: #A9DCF1;
        }

    .pc-slider .pc-thumb {
        position: absolute;
        top: 3px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #A9DCF1;
        cursor: col-resize;
    }

        .pc-slider .pc-thumb:hover {
            background-color: #fff;
        }

    .pc-slider .pc-thumb-down, .pc-slider .pc-thumb-down:hover {
        background-color: #fff;
    }

    .pc-slider .pc-thumb .pc-valueLabel {
        position: absolute;
        left: 50%;
        top: -17px;
        width: 36px;
        margin-left: -18px;
        text-align: center;
        cursor: default;
    }


/* expander control */
.pc-expander {
    width: 100%;
}

.pc-expanderHeader {
    padding: 3px 0px 3px;
}

.pc-expander .pc-expanderHeader label::after {
    content: '>';
    font: 15px "Consolas", monospace;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 17px;
    line-height: 29px;
    border: 0px;
    position: absolute;
    pointer-events: none;
}

[dir='rtl'] .pc-expander .pc-expanderHeader label::after {
    right: auto;
    left: 17px;
    content: '>';
}

.pc-expander .pc-expanderHeader input:checked + label::after {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.pc-expanderTree .pc-expanderHeader label::after {
    margin-left: 0px;
}

[dir='rtl'] .pc-expander .pc-expanderTree .pc-expanderHeader label {
    padding-right: 0px;
}

.pc-expander .pc-expanderBody {
    position: relative;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.pc-expander .pc-bodyVisible {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.pc-expander .pc-expanderBody button {
    background-color: #303030;
    border-style: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 16px;
    padding: 2px 0px 3px 9px;
    cursor: pointer;
}

.pc-expanderTree .pc-expanderHeader label:after {
    float: left;
    content: '+';
    font: 22px "Consolas", monospace;
    font-weight: bold;
    left: 13px;
    top: 1px;
    /*border: 0px;*/
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
    margin-top: 0px;
}

[dir='rtl'] .pc-expanderTree .pc-expanderHeader label:after {
    content: '+';
    position: absolute;
    right: 13px;
    left: auto;
    height: 100%;
    transform: rotate(180deg);
}

.pc-expanderTree .pc-expanderHeader input:checked + label:after {
    content: '-';
    top: 2px;
    transform: rotate(180deg);
}

[dir='rtl'] .pc-expander .pc-expanderBody button {
    text-align: right;
}

[dir='rtl'] .pc-expanderTree .pc-expanderBody {
    padding-right: 40px;
}

.pc-expanderTree .pc-expanderBody {
    padding-left: 30px;
}

.pc-expanderTree .pc-expanderHeader div {
    display: inline-block;
}

.pc-expanderTree .pc-expanderHeader label {
    padding-left: 30px;
}

[dir='rtl'] .pc-expanderTree .pc-expanderHeader label {
    padding-right: 30px;
    padding-left: 40px;
}

.pc-expanderTree .pc-expanderHeader {
    border-top: solid 1px #5B676E;
}

.pc-expander .pc-expanderHeader {
    height: 33px;
    width: 100%;
}

    .pc-expander .pc-expanderHeader label {
        display: block;
        /* float: right; */
        /* margin-top: 5px; */
        line-height: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }

.pc-expander .pc-expanderTree .pc-expanderHeader label {
    float: none;
}

[dir='rtl'] .pc-expander .pc-expanderHeader {
    padding-right: 0px;
}

.pc-expander .pc-expanderHeader label:hover {
    color: #fff;
}

/*Device Emulator*/
.pc-deviceEmulator {
    position: absolute;
    z-index: 300;
    bottom: 8px;
    right: 18px;
    width: 360px;
    overflow: hidden;
    border: solid 1px #17a5b8;
    background-color: #003041;
    background-color: rgba(0,48,65,0.92);
    font-size: 15px;
    color: #D3D3D3;
}

[dir='rtl'] .pc-deviceEmulator {
    left: 18px;
    right: auto;
}

.pc-deviceEmulator .pc-expanderHeader {
    background-color: #00475E;
    background-color: rgba(0,71,94,.8);
    color: #A9DCF1;
    font-size: 19px;
}

    .pc-deviceEmulator .pc-expanderHeader label {
        padding-left: 7px;
        padding-right: 10px;
    }

        .pc-deviceEmulator .pc-expanderHeader label::after {
            content: '<';
            font-size: 22px;
        }

.pc-deviceEmulator .pc-expanderBody span {
    display: block;
    padding-bottom: 3px;
}

.pc-deviceEmulatorBody {
    display: block;
    overflow: hidden;
    border-top: solid 1px #17a5b8;
    padding: 0px 16px 0px 8px;
}

    .pc-deviceEmulatorBody .pc-deviceEmulatorContent {
        padding-top: 6px;
        padding-bottom: 3px;
    }

.pc-deviceEmulator .pc-slider {
    margin: 12px 0px 14px 0px;
    color: #A9DCF1;
}

    .pc-deviceEmulator .pc-slider .pc-label {
        min-width: 33px;
    }

        .pc-deviceEmulator .pc-slider .pc-label:first-child {
            min-width: 16px;
        }

    .pc-deviceEmulator .pc-slider .pc-valueLabel {
        font-size: 80%;
        top: -15px;
    }

.pc-deviceEmulator .pc-expanderBody .pc-imgContainer {
    text-align: center;
    perspective: 600px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.pc-deviceEmulator .pc-expanderBody .pc-inclinationLabel {
    padding-bottom: 3px;
}

    .pc-deviceEmulator .pc-expanderBody .pc-inclinationLabel div {
        display: inline;
    }

    .pc-deviceEmulator .pc-expanderBody .pc-inclinationLabel .pc-label:after {
        content: ': ';
    }
