html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.pc-playerMenuVContainer, .pc-playerMenuHContainer {
	display: table;
	position: absolute;
	overflow: hidden;
}

.pc-playerMenuVContainer {
	top: 0px;
	left: -82px;
	width: 64px;
	height: 100%;
}

	.pc-playerMenuVContainer .pc-alignedCell {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
	}

.pc-playerMenuHContainer {
	height: 98px;
	width: 100%;
	left: 0px;
	bottom: -104px;
	text-align: center;
}

.pc-playerButton, .pc-playerButton:active, .pc-menuBigButton, .pc-menuBigButton:active {
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	width: 80px;
	height: 67px;
	border: none;
	fill: #A9DCF1;
	color: #A9DCF1;
	border-color: #A9DCF1;
	outline: none;
}

	.pc-menuBigButton, .pc-menuBigButton:active {
		width: 80px;
		height: 91px;
	}

	.pc-playerButton svg {
		position: absolute;
		width: 46px;
		height: 46px;
		padding: 0;
		margin: 0;
		margin-left: 17px;
		top: 0;
		left: 0;
	}

	.pc-menuBigButton svg {
		width: 70px;
		height: 70px;
		margin-left: 5px;
	}

	.pc-playerButton span {
		position: absolute;
		font-size: 13px;
		font-weight: bold;
		bottom: 3px;
		left: 0;
		right: 0;
	}

	.pc-playerButton:hover {
		color: #fff;
		fill: #fff;
		border-color: #fff;
	}
	.pc-playerButton:active {
		padding: 0;
		color: #17a5b8;
		fill: #17a5b8;
		border-color: #17a5b8;
	}
	.pc-playerButton:disabled {
		color: #A5A5A5;
		fill: #A5A5A5;
		border-color: #A5A5A5;
		cursor: default;
	}

.pc-playerButtonChecked {
	color: #ef7716;
	fill: #ef7716;
	border-color: #ef7716;
}


/* inner player screens */
.pc-playerStartScreen { /*, .pc-playerSplashScreen {*/
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #05222a;
	overflow: hidden;
}

	.pc-playerStartScreen img {
		height: 100%;
		width: 100%;
		padding: 0px;
		margin: 0px;
		background-color: #A5A5A5;
		opacity: 0.3;
		filter: alpha(opacity = 30);
	}

		.pc-playerStartScreen img .disabled {
			background-color: #A5A5A5;
			opacity: 0.3;
			filter: alpha(opacity = 30);
		}

	.pc-playerStartScreen .pc-title {
		position: absolute;
		top: 0;
		left: 0;
		color: #a9dcf1;
		font-size: 40px;
		font-weight: 700;
		overflow: hidden;
		padding: 15px;
	}

	.pc-playerStartScreen .pc-loadingIndicatorLayout {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #ef7716;
		font-size: 25px;
		font-weight: 700;
		height: 25%;
		width: 100%;
		text-align: center;
		white-space: nowrap;
	}

	.pc-playerStartScreen .pc-loadingIndicatorLayout .pc-loadingIndicator {
		 display: table; 
		 margin: 0 auto;
	}

	.pc-playerStartScreen .pc-liProgress {
		background-color: #ef7716;
	}

.pc-playerStartScreen button, .pc-playerStartScreen button:active {
	background: none;
	border: medium none;
	color: #a9dcf1;
	cursor: pointer;
	fill: #a9dcf1;
	height: 100%;
	margin: 0;
	outline: medium none;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

	.pc-playerStartScreen button svg {
		height: 44%;
		left: 28%;
		top: 28%;
		width: 44%;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	.pc-playerStartScreen button:hover {
		fill: #ffffff;
	}
	.pc-playerStartScreen button:active {
		fill: #17a5b8;
		margin: 0;
		padding: 0;
	}
	.pc-playerStartScreen button:disabled {
		fill: #A5A5A5;
		cursor: default;
	}


/* splash screen 
.pc-playerSplashScreen {
	background-color: red;
	visibility: hidden;
}
*/

/* onscreen keyboard */
.pc-cursorButton, .pc-cursorButton:active {
	margin: 0;
	width: 60px;
	height: 60px;
	border: solid 2px;
	border-radius: 10%;
}

	.pc-cursorButton svg {
		position: absolute;
		width: 60%;
		height: 60%;
		padding: 20%;
		margin: 0;
		top: 0;
		left: 0;
	}

.pc-cursorTable {
	display: table;
	border-collapse: separate;
	border-spacing: 4px;
}

.pc-cursorTableRow {
	display: table-row;
}

.pc-cursorTableCell {
	display: table-cell;
}


/*		.hiddenOverflow {
			overflow: hidden;
		}

*/

/* overlay */
.pc-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}


/* player toolbar */
.pc-playerToolbarBackground {
	/*position: absolute;
	width: 100%;
	height: 100%;*/
	background-color: #00475E;
	-moz-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}
/*
	toolbar height: 192 (= 96px.. scaling factor 2)
	circle middle: 
	  height: 68
	  width: 182
	  radius 96

	small icon height/width: 62
	big icon height/width: 126
*/

/* viewport */
.pc-playerViewport {
	border: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

/* canvas */
.pc-canvas {
	border: 0;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}




/* popup test */
.pc-col50 {
	display: table-cell;
	width: 50%;
}

.pc-popup {
	width: 20em;   /* this value will be set in script depending on the device width - test only*/
	height: 25em;

	/*max-width: 400px;
	*/max-height: 30em;
	display: table;
	color: #31BAEC;
	background-color: #05222a;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	box-shadow: 5px 5px 5px #000000;
}

.pc-popupDefaultBorder {

}

.pc-popupErrorBorder {
	border-color: #A31515;
}
.pc-popupWarningBorder {
	border-color: #EF7716;
}
.pc-popupHeader, .pc-popupBody, .pc-popupFooter {
	/*display: table-cell;*/
	padding: 10px;
}
.pc-popupHeader {
	border-bottom: 2px solid #31BAEC;
	padding: 20px;
	font-size: larger;

}
.pc-popupBody {
	color: #F2F2F2;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 20em;
	/* TODO: fontsize color */
}

.pc-popupFooter {
	border-top: 1px solid #404040;
	white-space: nowrap;
	padding: 15px;
	color: #F2F2F2;
}
.pc-popupFooter button {
	margin-left: 4px;
	padding: 2px 4px 2px 4px;
	min-width: 65px;
	border: solid 0px;    /* TODO */
	border-radius: 2px;
	font-weight: bold;
	background-color: transparent;
	color: inherit;
}
/* TODO button hover/active/disabled states and colors */