/*        html, body {
            height: 100%;
            width: 100%;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        .hiddenOverflow {
            overflow: hidden;
        }
*/
        .pc-startButton, .pc-startButton:active {
            background-color: transparent;
            border: medium none;
            color: #a9dcf1;
            cursor: pointer;
            fill: #a9dcf1;
            height: 100%;
            margin: 0;
            outline: medium none;
            padding: 0;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
        }
        .pc-startButton svg {
            height: 50%;
            left: 25%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 25%;
            width: 50%;
        }
        .pc-startButton:hover /*.pc-svgPlayerIconBorder , .pc-startButton:active .pc-svgPlayerIconSymbol*/ {
            fill: #ffffff;
        }
        /*.pc-startButton:active .pc-svgPlayerIconBorder, .pc-startButton:active .pc-svgPlayerIconSymbol {
            fill: #17a5b8;
        }*/
        .pc-startButton:active {
            fill: #17a5b8;
            margin: 0;
            padding: 0;
        }
		.pc-startButton:disabled {
			/*color: #A5A5A5;*/
			fill: #A5A5A5;
			cursor:default;
		}

/* new styles */

.pc-webBody {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.pc-webOverlay {
	font-family: sans-serif;
    position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;

/*  background-color: transparent;
	content: '';
    display: none;
    opacity: 0.5;
*/
}
.pc-webOpacity {
    position: absolute;
	width: 100%;
	height: 100%;
	background-color: #05222a;
	opacity: 0.92;
	filter: alpha(opacity = 92);
}
.pc-logo {
	position:absolute;
	top:15px;
	left:15px;
}
.pc-logo img {
	height: 53px;
}

.pc-webLayout {
	position: absolute;
	display: table;
	height: 100% !important;
	width: 100% !important;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
/*	overflow: hidden;
	font-family: sans-serif;
	box-sizing: border-box;
	background-color: #05222A;
	color: #8097A0;
	border: solid 2px #17a5b8;*/
}

.pc-webLayoutRow {
	display: table-row;
	height: 100%;
}

.pc-leftCol, .pc-rightCol, .pc-centerCol {
	display: table-cell;
	vertical-align: top;
}
.pc-leftCol, .pc-rightCol {
	width: 50%;
	min-width: 80px;
}
/*.pc-leftCol {
	min-width: 80px;
}*/
.pc-centerCol {
	vertical-align: middle;
}
.pc-webViewportContainer {
	min-height: 450px;
	min-width: 270px;
	height: 750px; width:450px; /*test only*/
	border: solid 2px #17a5b8;
}
.pc-webViewport {
	position: relative;
	min-height: 450px;
	min-width: 270px;
	height: 100%;
	width: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
    color: #FFFFFF;
}
.pc-webLink {
	height:83px;
	width:100%;
	max-width:324px;
	/*background-color:red; */
	/*margin: 0px;
	float:left;*/
}
.pc-webLink a {
	display:block;
	width:100%;
	height:100%;
	margin-right:80px;
	/*background-color:blue;*/
	text-decoration: none;
 }
.pc-webMenu {
	width: 50px;
	/*height: 192px;*/
	float: right;
	/*vertical-align: top;*/
	margin: 10px;
	/*background-color: red;*/
}
.pc-webButton, .pc-webButton:active {
    padding: 0;
    /*margin: 0;*/
	margin: 6px;
	margin-bottom: 10px;
	/*margin: 7px;
    display: inline;
    */background-color: transparent;

    cursor: pointer;
    position: relative;

    width: 38px;
    height: 38px;
    border: none;
    fill: #A9DCF1;
    /*color: #A9DCF1;*/
    outline: none;
}

.pc-webButton:active{
    padding: 0;
    /*margin:0;
    color: #FFFFFF;*/
}
.pc-webButton:disabled {
    color: #A5A5A5;
    cursor:default;
}

.pc-webButton svg {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
}

.pc-webButton:hover /*.pc-svgPlayerIcon*/ {
    fill: #fff;
}
.pc-webButton:active /*.pc-svgPlayerIcon*/ {
    fill: #17a5b8;
}
.pc-webButton:disabled /*.pc-svgPlayerIcon*/ {
    fill: #A5A5A5;
}

/* player internal */
.pc-playerMenuVContainer, .pc-playerMenuHContainer {
	display: table;
	position: absolute;
	overflow: hidden;
	/*background-color:red;*/
}
.pc-playerMenuVContainer {
	top: 0px;
	left: -82px;
	width: 64px;
	height: 100%;
}
.pc-playerMenuVContainer .pc-alignedCell {	/*vertical*/
	/*background-color:green;*/
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.pc-playerMenuHContainer {
	/*display: inline;*/
	height: 98px;
	width: 100%;
	left: 0px;
	bottom: -104px;
	text-align: center;
}
/*.pc-playerMenuHContainer .pc-alignedCell {
	display: inline;
}*/

.pc-playerButton, .pc-playerButton:active, .pc-menuBigButton, .pc-menuBigButton:active {
    padding: 0;
    margin:0;
	margin-bottom: 7px;
    /*display: inline;
    */background-color: transparent;

    cursor: pointer;
    position: relative;

    width: 80px;
    height: 67px;
    border: none;
    fill: #A9DCF1;
    color: #A9DCF1;
    outline: none;
}
.pc-menuBigButton, .pc-menuBigButton:active  {
    width: 80px;
    height: 91px;
}
.pc-playerButton svg {
    position: absolute;
    width: 46px;
    height: 46px;
    padding: 0;
    margin: 0;
	margin-left: 17px;
    top:0;
    left:0;
}
.pc-menuBigButton svg {
	width: 70px;
    height: 70px;
	margin-left: 5px;
}
.pc-playerButton span {
    position: absolute;
	font-size: 13px;
	font-weight: bold;
    /*width: inherit;*/
    bottom: 3px;
    left:0;
    right:0;
}
.pc-playerButton:hover  {
    color: #fff;
	fill: #fff;
}
/*.pc-playerButton:active .pc-svgPlayerIcon {
    fill: #FFFFFF;
}*/
.pc-playerButton:active {
    padding: 0;
    /*margin:0;
    */color: #17a5b8;
	fill: #17a5b8;
}
/*.pc-playerButton:disabled .pc-svgPlayerIcon {
    fill: #A5A5A5;
}*/
.pc-playerButton:disabled {
    color: #A5A5A5;
    fill: #A5A5A5;
    cursor:default;
}

.pc-playerButtonChecked {
	color: #ef7716;
	fill: #ef7716;
}

/* inner player screens */
.pc-playerPreviewScreen, .pc-playerSplashScreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #05222a;
}
.pc-playerPreviewScreen img {
	height: 100%;
	background-color: #A5A5A5;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}
.pc-playerPreviewScreen img .disabled {
	background-color: #A5A5A5;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}
.pc-playerPreviewScreen .pc-title {
	position: absolute;
	top: 0;
	left: 0;
	color: #a9dcf1;
	font-size: 40px;
	font-weight: 700;
	overflow: hidden;
	padding: 15px;"
}
.pc-playerPreviewScreen .pc-loadingIndicator {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 color: #ef7716;
	font-size: 25px;
	font-weight: 700;

	 height: 25%; /* min-height = 113px according to container minimum size*/
	 width: 100%; /* min-width = 270px */
	 /*background-color:red;*/	/* TODO: change these settings (below) */
	 /*opacity: 0.5;
	 display: table-cell;*/
}
/*.pc-playerPreviewScreen .pc-loadingIndicator div{
}*/

.pc-playerPreviewScreen .pc-startButton svg {
	height: 50%;
	left: 25%;
	/*margin: 0;
	padding: 0;
	position: absolute;*/
	top: 25%;
	width: 50%;

}

.pc-playerSplashScreen {
	background-color: red;
	visibility:hidden;/*	 TODO: implementation */
}


.pc-cursorButton, .pc-cursorButton:active {
    padding: 0;
    margin:0;
    margin-bottom: 7px;
    /*display: inline;
    */background-color: transparent;

    cursor: pointer;
    position: relative;

    width: 80px;
    height: 67px;
    border: none;
    fill: #A9DCF1;
    color: #A9DCF1;
    outline: none;
}
.pc-cursorButton svg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-left: 17px;
    top:0;
    left:0;
}
.pc-cursorButton span {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    /*width: inherit;*/
    bottom: 3px;
    left:0;
    right:0;
}
.pc-cursorButton:hover  {
    color: #fff;
    fill: #fff;
}
.pc-cursorButton:active {
    padding: 0;
    /*margin:0;
    */color: #17a5b8;
    fill: #17a5b8;
}
.pc-cursorButton:disabled {
    color: #A5A5A5;
    fill: #A5A5A5;
    cursor:default;
}
.pc-cursorTable {
    display: table;
}
.pc-cursorTableRow {
    display: table-row;
}
.pc-cursorTableCell {
    display: table-cell;
   /* border: solid;*/
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}