RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<files *.html>
SetOutputFilter DEFLATE
</files>

<files *.css>
SetOutputFilter DEFLATE
</files>

<files *.js>
SetOutputFilter DEFLATE
</files>

RewriteRule ^rest/([^/]*)/(.*)$ html5/rest/$1/index.php?servicePath=$2&version=$1 [L,QSA]

RewriteRule ^html5/player/(.*)$ html5/index.php?projectId=$1