Options -MultiViews
RewriteEngine On
RewriteBase /html5/
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<files *.html>
SetOutputFilter DEFLATE
</files>

<files *.css>
SetOutputFilter DEFLATE
</files>

<files *.js>
SetOutputFilter DEFLATE
</files>

RewriteRule ^rest/([^/]*)/(.*)$ rest/$1/index.php?servicePath=$2&version=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !\.(gif|jpg|png|jpeg|css|js|ico)$ [NC]
RewriteRule ^player/(.*)$ Client/PocketCodePlayer/index.php?projectId=$1