Options -MultiViews
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header set Access-Control-Allow-Methods "GET, POST, DELETE, OPTIONS"

RewriteEngine On
RewriteBase /html5/
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<files *.html>
SetOutputFilter DEFLATE
</files>

<files *.css>
SetOutputFilter DEFLATE
</files>

<files *.js>
SetOutputFilter DEFLATE
</files>

RewriteRule ^rest/([^/]*)/file/tts.mp3$ rest/$1/file/tts [L,QSA]
#^^ included to avoid errors due to a bug in soundJs: not recognizing sounds without file extensions correctly
RewriteRule ^rest/([^/]*)/(.*)$ rest/$1/index.php?servicePath=$2&version=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !\.(gif|jpg|png|jpeg|css|js|ico|htm|html|php)$ [NC]
RewriteRule ^player/(.*)$ player/index.php?projectId=$1
