html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
/*table {
    
}
td {
    position: relative;
}*/
svg {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
}
.pc-playerMenuBackground {
    background-color: #144D5F;
    opacity: 0.85;
}

.pc-button, .pc-button:active {
    padding: 0;
    margin:0;
    /*display: inline;
    */background-color: transparent;

    cursor: pointer;
    position: relative;
    
    width: 64px;
    height: 84px;
    border: none;
    fill: #A9DCF1;
    color: #A9DCF1;
    outline: none;
}
.pc-button svg {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
}
.pc-button span {
    position: absolute;
    /*width: inherit;*/
    bottom: 0px;
    left:0;
    right:0;
}
/*.pc-button:hover {
    background-color:green;
}
.pc-button:active {
    background-color:red;
}
.pc-button:disabled {
    background-color:grey;
}
.pc-svgPlayerIcon {
    width: inherit;
    height: inherit;
}
.pc-svgPlayerIcon {
    fill: #A9DCF1;
  pointer-events: all;
}*/
/*.pc-button:disabled * {
    fill: #555555;
}*/
/*.pc-svgPlayerIconBorder, .pc-svgPlayerIconSymbol {
    position: absolute;
}*/
.pc-button:hover .pc-svgPlayerIconBorder {
    fill: #FFFFFF;
}
.pc-button:active .pc-svgPlayerIconBorder, .pc-button:active .pc-svgPlayerIconSymbol {
    fill: #FFFFFF;
}
.pc-button:active {
    padding: 0;
    margin:0;
    color: #FFFFFF;
}
.pc-button:disabled .pc-svgPlayerIconBorder, .pc-button:disabled .pc-svgPlayerIconSymbol {
    fill: #A5A5A5;
}
.pc-button:disabled {
    color: #A5A5A5;
    cursor:default;
}
